.home-main {
  /* border: 1px red solid; */
  background-color: black;
}

.movie-carousel {
  /* display: flex; */
  /* width: 100%; */
}

.movie-div-img {
  /* margin: 0.5rem 0; */
  /* border: 1px solid blue; */
}

.movie-poster-image {
  border: 2px solid hsla(0, 0%, 100%, 0.8);
  border-radius: 10px;
  transition: transform 0.2s ease-in-out;
}

.movie-poster-image:hover {
    transform: scale(1.1);
    cursor: pointer;
}