.navbar-main {
  background-color: black;
}

.navbar-box-horizontal {
  text-decoration: none;
  color: white;
}

.navbar-box-horizontal a {
  text-decoration: none;
  color: white;
  padding-right: 0.5rem;
}

.navbar-vertical {
}

.navbar-link {
  transition: color 300ms;
  padding-right: 0.5rem;
}

.navbar-link:hover {
  color: grey;
}
